# === Fichiers temporaires Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

# === Sécurité et Configuration
.env
*.local
config.json
certs/
*.pem
*.key

# === Fichiers du système ou de l'éditeur
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.pt

# === Enregistrements vidéos et photos
*.avi
*.mp4
*.jpg

# === Sous-dossiers
Intel_RealSense_D435f/captures_realsense
OrbbecSDK/
Orbbec_Femto_Bolt/Log/
Orbbec_Femto_Bolt/captures
Log/
env/
dataset/
data.yaml