# === Fichiers temporaires Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

# === Sécurité et Configuration
.env
*.local
config.json
certs/
*.pem
*.key

# === Fichiers du système ou de l'éditeur
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.pt

# === Enregistrements vidéos RealSense/
*.avi
*.mp4

# === Sous-dossiers
captures_realsense/
OrbbecSDK/
Log/
env/